<div class="form">
    <form [formGroup]="nameForm" (submit)="onSubmit()">
        <div class="title">Name info form</div>
        <div class="subtitle">Plese fill in your name info: </div>
        <div class="input-container ic1">
            <input id="firstname" class="input" type="text" placeholder=" " ngModel formControlName="firstName" />
            <div class="cut"></div>
            <label for="firstname" class="placeholder">First name</label>
        </div>
        <div class="input-container ic2">
            <input id="lastname" class="input" type="text" placeholder=" " ngModel formControlName="lastName" />
            <div class="cut"></div>
            <label for="lastname" class="placeholder">Last name</label>
        </div>
        <div class="input-container ic2">
            <input id="fathersName" class="input" type="text" placeholder=" " ngModel formControlName="fathersName" />
            <div class="cut"></div>
            <label for="fathersName" class="placeholder">Father's name</label>>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>