<div class="form">
    <form [formGroup]="incomeAndEmailForm" (submit)="onSubmit()">
        <div class="title">Income and email form</div>
        <div class="input-container ic1">
            <input id="income" class="input" type="text" placeholder=" " ngModel formControlName="income" />
            <div class="cut"></div>
            <label for="income" class="placeholder">Yearly income amount</label>
        </div>
        <div class="input-container ic2">
            <input id="email" class="input" type="text" placeholder=" " ngModel formControlName="email" />
            <div class="cut"></div>
            <label for="email" class="placeholder">Email address</label>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>