<div class="form">
    <form [formGroup]="socialInfoForm" (submit)="onSubmit()">
        <div class="title">Social info: </div>
        <div class="input-container ic1">
            <input id="passport-number" class="input" type="text" placeholder=" " ngModel formControlName="passportNumber" />
            <div class="cut"></div>
            <label for="passport-number" class="placeholder">Passport number: </label>
        </div>
        <div class="input-container ic2">
            <input id="is-married" class="input" type="text" placeholder=" " ngModel formControlName="isMarried" />
            <div class="cut"></div>
            <label for="is-married" class="placeholder">Are you married?</label>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>