/* You can add global styles to this file, and also import other style files */
@import "assets/scss/main";
form{
    color: rgb(33, 105, 172);
}

body {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing : antialiased;
    color: blueviolet;

}