
  <div class="form">
    <form [formGroup]="phoneNumberForm" (submit)="onSubmit()">
      <div class="form-heading"></div>
      <div class="title">Welcome!</div>
      <div class="subtitle">Phone number verification: </div>

      <div class="input-container ic1">
        <input type="phoneNumber" id="mobile" class="input" ngModel placeholder="10 digit phone number"
          formControlName="phoneNumber">
        <div class="cut"></div>
      </div>
      <!-- <div *ngIf="phoneNumber?.errors?.required && phoneNumber?.value" class="form-error"> Phone number is required -->
      <button type="text" class="submit">Submit</button>
    </form>
  </div>
